.banner {
  height: 200px;
  padding: 150px 0;
  color: white;
  text-shadow: 0 0 4px rgba(0 0 0 0.8);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.banner h1{
  margin: 0px;
}
